@import "tailwindcss";

@font-face {
  font-family: JakartaSans;
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  font-family: JakartaSans, sans-serif;
  color: black;
}
