@import "tailwindcss";

@font-face {
  font-family: JakartaSans;
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  font-family: JakartaSans, sans-serif;
  color: black;
}

@theme {
  /* Dasar Warna Gelap */
  --color-background: #fdfdfd;
  --color-foreground: #1e282c;
  --color-font: #6a7282;
  --color-font-shade: #393b40;

  --color-card: #f3f3f3;
  --color-card-outline: #a9afbb;
  --color-card-hover: #d5d5d5;

  --color-box-primary: #FFFFFF;
  --color-box-secondary: #f3f4f6;
  --color-box-border: #a9afbb;

  --color-primary: #ad2b19;
  --color-primary-foreground: #ffffff;
  --color-primary-hover: #84281c;

  --color-red: #9f1e1e;
  --color-red-foreground: #fef2f2;

  --color-border: #a8a9aa;

  --radius: 0.7rem;

  --color-success: #12950d;
  --color-danger: #c62611;
}

.main-content {
  flex: 1 1 0%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-inline: calc(var(--spacing) * 14);
  padding-block: calc(var(--spacing) * 12);
  background-color: var(--color-background);
}

.box {
  background-color: var(--color-box-primary);
  border-radius: 20px;
  border: 1px solid var(--color-border);
  padding: 32px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.page-title {
  font-size: var(--text-3xl) ;
  line-height: var(--tw-leading, var(--text-3xl--line-height));
  font-weight: bold;
  color: var(--color-gray-900);
  --tw-tracking: var(--tracking-tight);
  letter-spacing: var(--tracking-tight);
}

.page-title-desc {
  font-size: var(--text-sm);
  color: var(--color-gray-500);
  margin-top: calc(var(--spacing) * 1)
}

dialog.custom-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  flex-direction: column;
  width: calc(100% - 2rem);
  max-width: 540px;
  max-height: 90vh;
  border-radius: 1rem;
  border: 1px solid #f3f4f6;
  background-color: #ffffff;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

dialog.custom-dialog[open] {
  display: flex;
  animation: fadeInZoom 200ms ease-out forwards;
}

dialog.custom-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.dialog-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  border-bottom: 1px solid #b3b8c0;
}

@media (min-width: 1024px) {
  .dialog-header {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .main-content {
    padding-block: calc(var(--spacing) * 10);
  }
}